In [1]:
import pandas as pd
from pandas import DataFrame
from numpy import NaN as NA
from sklearn import model_selection

In [49]:
df = DataFrame([['hola',2.4,1.8],[2.6,NA,NA],['otro',2.5,3.8]])
df.columns = ['uno', 'dos','tres']
df

    uno  dos  tres
0  hola  2.4   1.8
1   2.6  NaN   NaN
2  otro  2.5   3.8

In [50]:

# Transforms column into numeric values and puttin NaN in those that do no fit the numeric type.
df.uno = pd.to_numeric(df['uno'], errors='coerce')
df.describe()


df = df.fillna(df.mean()) #reemplaza los valores NaN con los valores de la media de cada columna


df

   uno   dos  tres
0  2.6  2.40   1.8
1  2.6  2.45   2.8
2  2.6  2.50   3.8